/*
0-600px:       Phone
600-900px:     Tablet Portrait
900-1200px:    Tablet Landscape
[1200-1800]px: Normal Styles (Desktop First)
1800px+:       Big Desktop
*/
/*
  $breakpoint argument choices:
  -phone
  -tab-port
  -tab-land
  -big-desktop

  1em = 16px
*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        opacity: 0.8;
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        opacity: 0.8;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    80% {
        opacity: 0.8;
        transform: translateY(-0.7rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}
@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: #04396d;
    color: white;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
}

.heading-primary {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}
.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    /* 
  animation-delay: 3s;
  animation-iteration-count: 3;
  */
}
@media only screen and (max-width: 37.5em) {
    .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem;
    }
}
.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 500ms ease-in-out;
}
@media only screen and (max-width: 37.5em) {
    .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-size: 2rem;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #035c96, #03204c);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.3rem;
    transition: all 300ms;
}
@media only screen and (max-width: 56.25em) {
    .heading-secondary {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .heading-secondary {
        font-size: 2.5rem;
    }
}
.heading-secondary-small {
    font-size: 2rem;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
}
.paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

.small {
    font-size: 2.5rem;
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-huge {
    margin-bottom: 10rem !important;
}

.u-margin-top-big {
    margin-bottom: 8rem !important;
}

.nav {
    width: 100%;
    height: 8rem;
    z-index: 100000;
    background-image: linear-gradient(
        to right,
        rgba(3, 92, 150, 0.8),
        rgba(4, 57, 109, 0.8)
    );
    padding: 1.25rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    text-decoration: none;
    color: inherit;
}
.nav__logo {
    color: #fff;
}
.nav__links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.nav__item {
    color: #fff;
    transition: all 300ms ease-in-out;
}

.header {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(
            to right,
            rgba(3, 92, 150, 0.8),
            rgba(4, 57, 109, 0.8)
        ),
        url('./img/thumb-1920-435117.jpg');
    margin-top: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header__image {
    width: 100%;
}
.header__text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.header__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveInBottom 500ms ease-in-out;
}
.header__main {
    text-transform: uppercase;
    font-size: 7rem;
    animation: moveInRight 500ms ease-in-out;
}
.header__secondary {
    font-size: 2.5rem;
    animation: moveInLeft 500ms ease-in-out;
}

.footer {
    width: 100%;
    background-image: linear-gradient(
        to right,
        rgba(3, 92, 150, 0.8),
        rgba(4, 57, 109, 0.8)
    );
    color: white;
}
.footer__main {
    display: flex;
    width: 100%;
}
.footer__main__section {
    margin: 0;
    padding: 0;
    width: 24.9999%;
}
.footer__main__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__title {
    font-size: 1.5rem;
}

.icon {
    width: 5rem;
    height: 5rem;
    background-image: linear-gradient(to right, #035c96, #03204c);
    background-clip: text;
    color: transparent;
    display: inline-block;
    overflow: visible;
}

.auth {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    height: 100%;
    width: 40%;
    max-width: 50rem;
    padding: 2rem;
    color: white;
}
.auth__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.auth__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.auth__input {
    width: 70%;
    border: none;
    padding: 0.75rem;
    outline: none;
    border-bottom: 5px solid transparent;
    transition: all 300ms ease-in-out;
}
.auth__input:focus {
    border-bottom: 5px solid green;
}
.auth__label {
    width: 30%;
    font-size: 2rem;
}
.auth__message {
    display: block;
}
.auth__button-wrapper {
    width: 100%;
}

.invalid:focus {
    border-bottom: 5px solid red;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            105deg,
            rgba(4, 57, 109, 0.8) 0%,
            rgba(3, 92, 150, 0.8) 50%,
            transparent 80%
        ),
        url('./img/thumb-1920-435117.jpg');
    background-position: center;
    background-size: cover;
}

.auth-btn-position {
    font-size: 2.5rem !important;
}

.button-wrapper {
    max-width: 50rem;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.account-section {
    width: 49.9%;
}

.account-form {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    height: 100%;
    width: 40%;
    max-width: 50rem;
    padding: 2rem;
    color: white;
}
.account-form__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.account-form__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.account-form__input {
    width: 70%;
    border: none;
    padding: 0.75rem;
    outline: none;
    border-bottom: 5px solid transparent;
    transition: all 300ms ease-in-out;
}
.account-form__input:focus {
    border-bottom: 5px solid #ff7730;
}
.account-form__label {
    width: 30%;
    font-size: 2rem;
}
.account-form__button-wrapper {
    width: 100%;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            105deg,
            rgba(4, 57, 109, 0.8) 0%,
            rgba(3, 92, 150, 0.8) 50%,
            transparent 80%
        ),
        url('./img/thumb-1920-435117.jpg');
    background-position: center;
    background-size: cover;
}

.account-btn-position {
    font-size: 2.5rem !important;
}

.button-wrapper {
    max-width: 50rem;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.about {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    width: 100%;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    animation: moveInBottom 300ms ease-in-out;
}
.about__heading {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__container {
    width: 100%;
    display: flex;
}
.about__info {
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__photos {
    width: 100%;
    min-height: 30rem;
    position: relative;
}
.about__photos img {
    width: 40%;
    transition: all 300ms ease-in-out;
}
.about__photos img:hover {
    z-index: 1;
    transform: scale(1.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    outline: 5px solid #04396d;
}
.about__photos-first {
    position: absolute;
    top: 20%;
    left: 50%;
}
.about__photos-second {
    position: absolute;
    top: 40%;
    left: 30%;
}
.about__photos-third {
    position: absolute;
    top: 15%;
    left: 10%;
}

.features {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80rem;
    width: 100%;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 1rem;
    background-image: linear-gradient(
            to right,
            rgba(3, 92, 150, 0.8),
            rgba(4, 57, 109, 0.8)
        ),
        url('./img/thumb-1920-435117.jpg');
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    animation: moveInBottom 300ms ease-in-out;
}

.feature {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 0.4rem;
    width: 15%;
    height: 30rem;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}
.feature__text-container {
    text-align: center;
}
.feature:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.btn-white {
    background-color: #fff;
    color: #04396d;
    font-size: inherit;
    padding: 0.5rem 1.5rem;
    border-radius: 24px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    border: none;
}
.btn-white:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0.4rem 0.7rem 0 0 rgba(0, 0, 0, 0.4);
}
.btn-white:active {
    transform: translateY(0);
    box-shadow: 0.4rem 0.4rem 0 0 black;
}

.btn-square {
    cursor: pointer;
    width: 100%;
    color: white;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(
        to right,
        rgba(255, 185, 0, 0.8),
        rgba(255, 119, 48, 0.8)
    );
    padding: 1rem 0;
    font-size: inherit;
    transition: all 300ms ease;
}
.btn-square:hover {
    transform: translateY(-0.2rem);
}
.btn-square:active {
    transform: translateY(0);
}

.authentication {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 50rem;
    width: 100%;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    animation: moveInBottom 300ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
