/*
0-600px:       Phone
600-900px:     Tablet Portrait
900-1200px:    Tablet Landscape
[1200-1800]px: Normal Styles (Desktop First)
1800px+:       Big Desktop
*/
/*
  $breakpoint argument choices:
  -phone
  -tab-port
  -tab-land
  -big-desktop

  1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    opacity: 0.8;
    transform: translateY(-0.7rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: #04396d;
  color: white;
}

img {
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  /* 
      animation-delay: 3s;
      animation-iteration-count: 3;
      */
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 500ms ease-in-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #035c96, #03204c);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.3rem;
  transition: all 300ms;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.small {
  font-size: 2.5rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-big {
  margin-bottom: 8rem !important;
}

.nav {
  width: 100%;
  height: 8rem;
  z-index: 100000;
  background-image: linear-gradient(to right, rgba(3, 92, 150, 0.8), rgba(4, 57, 109, 0.8));
  padding: 1.25rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  color: inherit;
}
.nav__logo {
  color: #e1d9d1;
}
.nav__links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav__item {
  color: #e1d9d1;
  transition: all 300ms ease-in-out;
}

.header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(3, 92, 150, 0.8), rgba(4, 57, 109, 0.8)), url("./img/thumb-1920-435117.jpg");
  margin-top: 5rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header__image {
  width: 100%;
}
.header__text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.header__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveInBottom 500ms ease-in-out;
}
.header__main {
  text-transform: uppercase;
  font-size: 7rem;
  animation: moveInRight 500ms ease-in-out;
}
.header__secondary {
  font-size: 2.5rem;
  animation: moveInLeft 500ms ease-in-out;
}

.footer {
  width: 100%;
  background-image: linear-gradient(to right, rgba(3, 92, 150, 0.8), rgba(4, 57, 109, 0.8));
  color: #e1d9d1;
}
.footer__main {
  display: flex;
  width: 100%;
}
.footer__main__section {
  margin: 0;
  padding: 0;
  width: 24.9999%;
}
.footer__main__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section__title {
  font-size: 1.5rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(to right, #035c96, #03204c);
  background-clip: text;
  color: transparent;
  display: inline-block;
  overflow: visible;
}

.auth {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
}
.auth-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #035c96;
}
.auth-section-btn-position {
  font-size: 2.5rem !important;
}
.auth-section-button-wrapper {
  max-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.auth-section-img-container {
  background-image: linear-gradient(to right, #035c96, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("./img/thumb-1920-435117.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.auth-section-form {
  font-size: 1.5rem;
  max-width: 50rem;
  padding: 2rem;
  color: #e1d9d1;
  width: 100%;
}
.auth-section-form__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.auth-section-form__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.auth-section-form__input {
  width: 70%;
  border: none;
  padding: 0.75rem;
  outline: none;
  border-bottom: 5px solid transparent;
  transition: all 300ms ease-in-out;
  background-color: #e1d9d1;
}
.auth-section-form__input-valid:focus {
  border-bottom: 5px solid green;
}
.auth-section-form__input-invalid:focus {
  border-bottom: 5px solid red;
}
.auth-section-form__label {
  font-size: 2rem;
  text-align: center;
  width: 50%;
}
.auth-section-form__message {
  width: 100%;
  color: black;
  text-align: center;
}
.auth-section-form__btn-submit {
  padding-top: 1rem;
  font-size: 2.5rem !important;
}
.auth-section-form__forgot-pass {
  text-align: center;
}

.account {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.account-nav {
  width: 20%;
  background: #035c96;
  font-size: 2rem;
  color: #e1d9d1;
}
.account-nav-title {
  font-size: 3rem;
  border-bottom: 5px solid black;
}
.account-nav-item {
  display: flex;
  align-items: center;
  padding: 2rem;
  list-style: none;
  text-transform: uppercase;
}
.account-nav-item:hover {
  background: #04396d;
  border-left: 4px solid #03204c;
  cursor: pointer;
}
.account-nav-item__icon {
  color: red;
}
.account-nav-item__label {
  padding-left: 1rem;
}
.account-nav-item__dropdown {
  display: flex;
  align-items: center;
  padding: 2rem;
  list-style: none;
  text-transform: uppercase;
  font-size: 2rem;
  background: #04396d;
}
.account-nav-item__dropdown:hover {
  background: #035c96;
  border-left: 4px solid #03204c;
  cursor: pointer;
}
.account-section {
  width: 80%;
  color: #e1d9d1;
}
.account-section-settings {
  padding: 10rem 30rem 10rem 30rem;
  background-image: linear-gradient(to right, rgba(3, 92, 150, 0.8), rgba(4, 57, 109, 0.8));
  display: flex;
  flex-direction: column;
}
.account-section-settings__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.account-section-settings__control-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.account-section-settings__control-images__img-container {
  display: flex;
  width: 5rem;
  height: 5rem;
  gap: 2rem;
}
.account-section-settings__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.account-section-settings__input {
  width: 70%;
  border: none;
  padding: 0.75rem;
  outline: none;
  border-bottom: 5px solid transparent;
  transition: all 300ms ease-in-out;
}
.account-section-settings__input:focus {
  border-bottom: 5px solid green;
}
.account-section-settings__label {
  width: 30%;
  font-size: 2rem;
}
.account-section-settings__message {
  display: block;
}
.account-section-settings__button-wrapper {
  width: 100%;
}
.account-section-main {
  background-image: linear-gradient(to right, rgba(3, 92, 150, 0.8), rgba(4, 57, 109, 0.8));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.account-section-main-img-container__img {
  border-radius: 50%;
}
.account-section-main__name {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.account-section-main__email {
  font-size: 2rem;
  text-align: center;
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50rem;
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  animation: moveInBottom 300ms ease-in-out;
}
.about__heading {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__container {
  width: 100%;
  display: flex;
}
.about__info {
  width: 100%;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__photos {
  width: 100%;
  min-height: 30rem;
  position: relative;
}
.about__photos img {
  width: 40%;
  transition: all 300ms ease-in-out;
}
.about__photos img:hover {
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  outline: 5px solid #04396d;
}
.about__photos-first {
  position: absolute;
  top: 20%;
  left: 50%;
}
.about__photos-second {
  position: absolute;
  top: 40%;
  left: 30%;
}
.about__photos-third {
  position: absolute;
  top: 15%;
  left: 10%;
}

.features {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80rem;
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 1rem;
  background-image: linear-gradient(to right, rgba(3, 92, 150, 0.8), rgba(4, 57, 109, 0.8)), url("./img/thumb-1920-435117.jpg");
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  animation: moveInBottom 300ms ease-in-out;
}

.feature {
  background-color: #e1d9d1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
  width: 20%;
  height: 30rem;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}
.feature .icon {
  height: unset;
  width: unset;
  font-size: 5rem;
}
.feature__text-container {
  text-align: center;
}
.feature:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.create-house {
  width: 100%;
  height: 90vh;
  min-height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.create-house-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #035c96;
}
.create-house-section-btn-position {
  font-size: 2.5rem !important;
}
.create-house-section-button-wrapper {
  max-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.create-house-section-img-container {
  background-image: linear-gradient(to right, #035c96, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("./img/thumb-1920-435117.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.create-house-section-form {
  font-size: 1.5rem;
  max-width: 50rem;
  padding: 2rem;
  color: #e1d9d1;
  width: 100%;
}
.create-house-section-form__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.create-house-section-form__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.create-house-section-form__control-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.create-house-section-form__control-images__img-container {
  display: flex;
  width: 5rem;
  height: 5rem;
  gap: 2rem;
}
.create-house-section-form__input {
  width: 70%;
  border: none;
  padding: 0.75rem;
  outline: none;
  border-bottom: 5px solid transparent;
  transition: all 300ms ease-in-out;
  background-color: #e1d9d1;
}
.create-house-section-form__input-valid:focus {
  border-bottom: 5px solid green;
}
.create-house-section-form__input-invalid:focus {
  border-bottom: 5px solid red;
}
.create-house-section-form__label {
  font-size: 2rem;
  text-align: center;
  width: 50%;
}
.create-house-section-form__message {
  width: 100%;
  color: black;
  text-align: center;
}
.create-house-section-form__btn-submit {
  padding-top: 1rem;
  font-size: 2.5rem !important;
}
.create-house-section-form__forgot-pass {
  text-align: center;
}

.house-card {
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}
.house-card .icon {
  height: unset;
  width: unset;
  font-size: 2rem;
  margin-right: 2rem;
}
.house-card__paragraph {
  text-align: start;
}
.house-card__image-container {
  position: relative;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
  overflow: visible;
}
.house-card__name {
  color: #fff;
  background-image: linear-gradient(to right, rgba(4, 57, 109, 0.8), rgba(3, 32, 76, 0.8));
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  position: absolute;
  top: 35%;
  right: 0.5rem;
  z-index: 1000;
  font-size: 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.house-card__summary {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem;
  max-height: 8rem;
}
.house-card__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.house-card__info-stats-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.house-card__info-row {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;
}
.house-card__info-row-stats-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.house-card-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.house-card-item-column {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.house-card-item-location {
  overflow: hidden;
  text-overflow: ellipsis;
}
.house-card-img {
  height: 20rem;
}

.house {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.house__image {
  position: relative;
  margin: auto;
  overflow: hidden;
  max-width: 120rem;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}
.house__container {
  margin-bottom: 4rem;
}

.active {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 1rem;
  font-size: 4rem;
  color: white;
  transform: translateY(-50%);
  padding: 1rem 2.2rem 1.5rem 2.2rem;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, rgba(4, 57, 109, 0.8), rgba(3, 32, 76, 0.8));
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.left-arrow:active {
  transform: translateY(-50%) scale(1.1);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 1rem;
  font-size: 4rem;
  color: white;
  padding: 1rem 2.2rem 1.5rem 2.2rem;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, rgba(4, 57, 109, 0.8), rgba(3, 32, 76, 0.8));
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.right-arrow:active {
  transform: translateY(-50%) scale(1.1);
}

.user {
  width: 60%;
  height: 20rem;
  background-color: #f7f7f7;
  transform: skew(-7deg);
  padding: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
}
.user__span {
  margin-left: 2rem;
  font-weight: 900;
}
.user__paragraph {
  font-weight: 900;
}
.user__image-container {
  position: relative;
  float: left;
  width: 30rem;
  transform: skew(7deg);
  shape-outside: circle(35% at 30% 50%);
  clip-path: circle(30% at 30% 50%);
  border-radius: 100%;
}
.user__info-container {
  font-size: 1.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  background-color: #f7f7f7;
  width: 80%;
  padding: 1rem;
  border-radius: 2rem;
}
.description__statististics {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 900;
}
.description__info {
  font-size: 2rem;
  text-align: start;
  width: 100%;
}
.description__info-paragraph {
  text-align: start;
}

.btn-white {
  background-color: #e1d9d1;
  color: #04396d;
  font-size: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 24px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  border: none;
}
.btn-white:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.4rem 0.7rem 0 0 rgba(0, 0, 0, 0.4);
}
.btn-white:active {
  transform: translateY(0);
  box-shadow: 0.4rem 0.4rem 0 0 black;
}

.btn-grad {
  background-image: linear-gradient(to right, #04396d, #03204c);
  color: #e1d9d1;
  font-size: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 24px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  border: none;
}
.btn-grad:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0.4rem 0.7rem 0 0 rgba(0, 0, 0, 0.4);
}
.btn-grad:active {
  transform: translateY(0);
  box-shadow: 0.4rem 0.4rem 0 0 black;
}

.btn-square {
  cursor: pointer;
  width: 100%;
  background-color: #e1d9d1;
  color: #04396d;
  text-transform: uppercase;
  border: none;
  border-radius: 24px;
  padding: 0.5rem;
  font-size: inherit;
  transition: all 300ms ease;
}
.btn-square:hover {
  transform: translateY(-0.2rem);
}
.btn-square:active {
  transform: translateY(0);
}

.house-btn {
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  font-size: 2.5rem;
}

.authentication {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 60rem;
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  animation: moveInBottom 300ms ease-in-out;
}

.houses {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 1rem;
  animation: moveInBottom 300ms ease-in-out;
}
.houses__house-card {
  height: 50rem;
  text-align: center;
  width: calc(25% - 1rem);
}

.house {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  animation: moveInBottom 300ms ease-in-out;
}

.create-ad {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 60rem;
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  animation: moveInBottom 300ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
