.about {
    position: relative;

    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 50rem;
    width: 100%;
    padding: 2rem;

    margin-top: 4rem;
    margin-bottom: 4rem;

    animation: moveInBottom 300ms ease-in-out;

    &__heading {
        width: 100%;
        height: 5rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        width: 100%;
        height: 5rem;

        display: flex;
    }

    &__info {
        width: 100%;
        min-height: 30rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__photos {
        width: 100%;
        min-height: 30rem;
        position: relative;

        & img {
            width: 40%;

            &:hover {
                z-index: 1;
                transform: scale(1.2);
                box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
                outline: 5px solid $color-primary;
            }

            transition: all 300ms ease-in-out;
        }

        &-first {
            position: absolute;
            top: 20%;
            left: 50%;
        }

        &-second {
            position: absolute;
            top: 40%;
            left: 30%;
        }

        &-third {
            position: absolute;
            top: 15%;
            left: 10%;
        }
    }
}
