.footer {
    width: 100%;
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.8),
        rgba($color-primary, 0.8)
    );
    color: white;
    display: flex;
    flex-direction: column;

    &__main {
        display: flex;
        width: 100%;
        &__section {
            margin: 0;
            padding: 0;
            width: 24.9999%;
        }
        &__bottom {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.section__title {
    font-size: 1.5rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    color: white;
    overflow: visible;
}
